// src/scss/components/_calendar.scss
@use "sass:map";
@use "sass:math";
@use "bootstrap/scss/bootstrap" as bs;

// Remove Background
.fc .fc-scrollgrid-section-sticky > * {
    background: none;
}

// Add text-overflow: ellipsis to event titles
a.fc-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Year View
.fc-multiMonthYear-view{
    border-radius: bs.$border-radius;
}

// Month View
.fc-dayGridMonth-view .fc-scrollgrid {
    border-radius: bs.$border-radius;
}
.fc-dayGridMonth-view .fc-scrollgrid-section td[role="presentation"] {
    border-radius: bs.$border-radius;
    border-top-right-radius: 0;
}
.fc-dayGridMonth-view .fc-scrollgrid-section th[role="presentation"] {
    border-radius: bs.$border-radius;
    border-bottom-right-radius: 0;
}

// Week View
.fc-timeGridWeek-view .fc-scrollgrid {
    border-radius: bs.$border-radius;
}
.fc-timeGridWeek-view .fc-scrollgrid-section:last-child td[role="presentation"] {
    border-radius: bs.$border-radius;
    border-top-right-radius: 0;
}
.fc-timeGridWeek-view .fc-scrollgrid-section:first-child th[role="presentation"] {
    border-top-right-radius: bs.$border-radius;
}

// Day View
.fc-timeGridDay-view .fc-scrollgrid {
    border-radius: bs.$border-radius;
}
.fc-timeGridDay-view .fc-scrollgrid-section:last-child td[role="presentation"] {
    border-radius: bs.$border-radius;
    border-top-right-radius: 0;
}
.fc-timeGridDay-view .fc-scrollgrid-section:first-child th[role="presentation"] {
    border-top-right-radius: bs.$border-radius;
}
