// src/scss/utilities/_background.scss
@use "sass:map";
@use "sass:math";
@use "../colors" as colors;
@use "bootstrap/scss/bootstrap" as bs;

// Transparent
.bg-transparent  {
    background-color: transparent !important;
    background-image: none !important;
    backdrop-filter: none !important;
}

// Functions
@function textColor($bgColor) {
	$red: red($bgColor);
	$green: green($bgColor);
	$blue: blue($bgColor);

	$luminance: 0.2126 * math.div($red, 255) + 0.7152 * math.div($green, 255) + 0.0722 * math.div($blue, 255);

	@if ($luminance > 0.7) {
		@return $dark;
	} @else {
		@return $light;
	}
}

// Background Colors
@each $name, $color in map.get(bs.$theme-colors, "background") {
    .bg-#{$name} {
        background-color: var(--bs-$name) !important;
    }
    .text-bg-#{$name} {
        background-color: var(--bs-$name) !important;
        color: bs.color-contrast($color) !important;
    }
}

// Dark mode adjustments
@include bs.color-mode(dark) {
    // Background Colors
    @each $name, $color in colors.$theme-colors-dark {
        .text-bg-#{$name} {
            color: bs.color-contrast($color) !important;
        }
    }
}
